.config-buttons-container{
  display: flex;
}
.background-container{
}
.img-background-header{
  height: 200px;
  width: 400px;
}
//.img-background-footer{
//  height: 200px;
//  width: 400px;
//}
.img-config{
  height: 150px;
  width: 135px;
}
