.main-container {
  width: 100%;
  height: 100%;
}

.background-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.next-image{
  bottom: 0px;
  position: absolute;
}

.closeContainer {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 10px;
  .closeImage {
    object-fit: cover;
  }
}
